h1, h3 {
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
    border-radius: 5px;
    padding: 10px;
}


form.login_form {
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
    background-color: #f5cba8;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
}

.label {
    background-image: url('../img/logo.png');
    width: 150px;
    height: 50px;
    padding-left: 150px;

}


h4 {
    color: #d22e3a;
    margin-left: 20px
}